@model IEnumerable<Agenda.Data.User>
@{
    ViewData["Title"] = "Probando";
}

<h1 class="text-red-500">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-slate-600">
    <thead class="text-center bg-slate-600"> tabla
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Userid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Password">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Userid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>